body{
  text-align: center;
  font-family: 'Merienda', cursive;
  background-color: #E5E7E9;
}

li {
  list-style: none;
}

.header {
  background-color: #16A085;
  color: #fff;
  height: 90px;
}

.logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding:0px 80px 20px 80px;
}

.container h1 {
  font-size: 140px;
}

.container h2 {
  font-size: 60px;
}

.container span {
  color: #ff4a4a;
}
.main {
  padding:0px 80px 20px 80px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.content {
  height: 500px;
  margin-top: 100px;
}

.content-item {
  float: left;
  margin-right: 40px;
}

.content-item p {
  font-size: 24px;
  margin-top: 30px;
}
.quiz{
    
  background-color: #F7DC6F;
    width: 600px;
    height: 500px;
    background-color: white;
    padding: 30px 50px 50px 50px;
    border: 2px solid black;
    margin: 0 auto;
}

#btn1, #btn2, #btn3, #btn4{
    background-color: #99A3A4;
    width: 250px;
    font-size: 20px;
    margin: 10px 40px 10px 0px;
    padding: 10px;
    border: 1px solid;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
    cursor: pointer;
    background-color: darkcyan;
    transition: ease;
}

#btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus{
    outline: 0;
}

.quiz #question{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: darkcyan;
}
.quiz-container{
    text-align: center;
}

.question{
  font-family: 'Fira Code', monospace;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.answers {
  font-family: 'Cutive Mono', monospace;
  font-size: x-large;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}

button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}
button:hover{
    background-color: #38a;
}

.button{
    margin-top: 30px;
}

a{
    text-emphasis: none;
    text-decoration: none;
}
a:link, a:visited{
    color: white;
}

.slide{
  
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 30px;
}
.inside-main{
  background-color:transparent;
  height: max-content ;
  margin: 10px;
  padding: 20px;
}

#results{
    font-size: 30px;
    font-weight: 400px;
}

label{
    padding: 5px;
    margin-bottom: 1px;
}

label:hover{
    background-color: #fff;
    cursor: pointer;
}
.buttons{
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {

  .header{
    height: 45px;
  }

  .logo{
    float: left;
    font-size: 20px;
    padding: 5px 10px;
  }

  .header-list li{
    float: left;
    padding: 5px 12px;
  }
  .container h1 {
    font-size: 80px;
  }
  
  .container h2 {
    font-size: 30px;
  }
  .main {
    padding:0px 40px 10px 40px;
  }
  
  .footer{
    height: 80px;
    padding: 15px;
  }

  .footer-logo {
    float: left;
    font-size: 15px;
  }
  .content {
    height: 900px;
    margin-top: 50px;
  }
  
  .content-item {
    float: none;
  }
  
  .content-item p {
    font-size: 24px;
    margin-top: 15px;
  }
  .quiz-container{
    min-height: 350px;
    overflow: hidden;
  }
  .active-slide{
    height: auto;
  }
  .question{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .answers {
    font-size: large;
    margin-bottom: 10px;
    /* display: inline-block; */
  }
  .answers label{
    display: block;
    margin-bottom: 2px;
  }

  button{
      font-size: 12px;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  .inside-main{
    padding: 0px;
  }
  
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Code:wght@500&family=Merienda&display=swap');
